*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    color: white;
}
.contenedor{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    height: 100%;  
}
.contenedor .fondo{
    background-image: url(/img/la_ceja.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}
/* -------------Header---------------- */
header{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    background: #040f0f;
    width: 50%;
    height: 100vh;
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;  
}
ul{
    display: none;
    margin-top:0;
    padding: 0;
    width: 673px;  
}
input:checked  ~ ul{
    display:block;
    background: lightgrey; 
   
}
input {
    display: none;
}
label{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 3;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin-top: 20px;
  margin-right: 20px;

}

label i{
    font-size: 40px;
    color: #fff;
}
 li {

  display: block;
  background:#48484b;
  margin:0;
  padding:35px;
  list-style: none;
  border-bottom: 1px solid #040f0f;
}
li:hover {
    border-bottom: 1px solid #a2d45e;
    background: rgb(94, 92, 92);
 }
 li a:hover{
     color: white;
 }
 li a{
     text-decoration: none;
     font-family: 'Lato', sans-serif;
     color: white;
     font-size: 20px;
     font-weight: 900;
 }


 .redes{
     display: flex;
     flex-flow: row wrap;
     justify-content:flex-start;
     align-items:center;
     background-color:#2a2d34;
     height: 340px;
     margin-bottom: 20px;
 }
 .redes i{
     font-size: 38px;
     margin-top: 30px; 
     margin-right: 20px;
     margin-left: 10px;
 }
 .fa-facebook{
     color: #4d6baa;
 }
 .fa-envelope{
     color: #ff0000;
 }
 .fa-instagram-square{
     color: #c13584;

 }
 .fa-github{
     color: #f5f5f5;
 }
 .contacto{
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     align-items: center;
     border-left: 2px solid #a2d45e;
     margin-left:20px;
     padding: 20px;

 }
 .contactos p{
     font-size: 20px;
     margin: 8px;
     margin-left: 20px;
     margin-right: 90px;
     color: white;
 }
 .foto-perfil img{
     border-radius: 50px;
     margin-left: 200px;
 }

 h1{
   font-family: 'Lato', sans-serif;
   font-size: 90px;
   margin-bottom: 8px;
   text-align: center;
 }
 h1 span{
    font-family: 'Amatic SC', cursive;
    color: #a2d45e;
 }
 .reseña{
     display: flex;
     flex-flow: row wrap;
     justify-content:center;
     align-items:center;
     text-align: justify;
     margin-top: 70px;
     width: 80%;
     margin-left: 50px;
 }
 .reseña p{
     font-size: 15px;
     font-weight: 300;
 }
 h3{
     margin-bottom: 20px;
     font-size: 30px;
 }
 h3 span{
     color: #a2d45e;
     font-family: 'Amatic SC', cursive;
    
 }
.info{
    margin-top: 150px;
    width: 700px;
    padding: 2px;
    position: relative;
    z-index: 1;
 }
main{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    color: black;
}
.info2{
    color: black;
}
/* ----------------Main--------------- */
.seccion{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 40px;
    margin-top: 80px;
    border-right: 2px solid grey;
}
.seccion h2{
    text-align: right;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 55px;
}
.seccion p{
    text-align: justify;
    font-size: 15px;
    margin-left: 80px;
    margin-left: 200px;
    margin-top: 55px;
    
}
.imagen img{
    margin-top: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10); 
}
.imagen img:hover{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
.seccion2{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 40px;
    margin-top: 80px;
    border-left: 2px solid grey;
}
.seccion2 h2{
    text-align: left;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 55px;
    margin-left: 520px;
}
.seccion2 p{
    text-align: justify;
    font-size: 15px;
    margin-right: 200px;
    margin-left: 520px;
    margin-top: 55px;

}
.seccion2  a img{
    margin-right: 700px;
}   

.seccion3{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 40px;
    margin-top: 80px;
    border-right: 2px solid grey;
}
.seccion3 h2{
    text-align: right;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 55px;
}
.seccion3 p{
    text-align: justify;
    margin-top: 55px;
    font-size: 15px;
    margin-left: 200px;
}   

.seccion3 .imagen img:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
/* --------------ícono para ir a inicio--------- */
a img{
    margin-left: 500px;
}


  
